
form 	{align: justify;
	 font-family:Helvetica;
	 
	}	 


h3	{font-family:Times;
	  font-size:185%;
	  color:#669933
	  }
	  
h2	{font-family:Helvetica;
	  font-size:100%;
	  color:#cc6600
	  }

h6	{font-family:Helvetica;
	font-size:85%;
	color:#CC6600}
	

div	{font-family:Helvetica;
	font-size:130%;
	font-weight:bold;
	color:#CC6600}

	
a	{color:#336666;
	 font-family:Helvetica;
	 font-size:105%;
 	 line-height: 135%;
	 }
	 

p 	{align: justify;
	 font-family:Helvetica;
	}	 


 
body 	{align: justify;
	 font-family:Helvetica;
	 font-size:80%;
	}	
	 
